.gradle
.idea
build
*.log
.git
.gitignore
.env
.env.example
gradle.properties
gradle/gradle-daemon-jvm.properties
local.properties
local-db-seed
node_modules
*.iml
.DS_Store
.kotlin
cloud-config.yml
docs
docker-compose.yml
