PROJECT_NAME=health

API_USER=health
API_PASSWORD=secret

POSTGRES_USER=health
POSTGRES_PASSWORD=secret
POSTGRES_DB=health
POSTGRES_PORT=5432

DATABASE_URL=jdbc:postgresql://postgres:5432/health

API_DOMAIN=api.health.bran.name

STORAGE_BOX_USER=uXXXXXX
STORAGE_BOX_HOST=uXXXXXX.your-storagebox.de
